:root {
    font-family: monospace;
}


* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;

}

#overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: none;
}

#titleBar {
    padding: 1rem;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    height: 2rem;
    cursor: pointer;
}

.sml {
    height: 1rem;
}

#content {
    width: 100vw;
}

#sidebar {
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: transform .5s;
    z-index: 3;
}

#sidebar > * {
    margin: 1rem;
    
}

#projectDiv > * {
    padding: .5rem 0;
    border-radius: 0.25rem;
    cursor: pointer;
}

#projectDiv > *:hover {
    background-color: lightblue;
}


.projectContent {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
}

.projectContent::-webkit-scrollbar {
    display: none;
}

.dots {
    height: 2.5rem;
    cursor: pointer;
}

.project {
    background-image: url("https://images.unsplash.com/photo-1620207418302-439b387441b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.todo, .projectTitle, .addTodo {
    background-color: white;
}

.todo {
    flex: 0 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.25);
    border-radius: .5rem;
    width: 20rem;
    max-height: 80%;
    padding: 1rem;
    margin: 1rem;
    align-self: self-start;
    overflow-y: auto;

    -ms-overflow-style: none;
    scrollbar-width: 2px;
}

.todo::-webkit-scrollbar {
    width: 10px;
}

.todo::-webkit-scrollbar-track {
    background-color: #121212;
    border-radius: .5rem;
}

.todo::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: .5rem;
}

.addTodo {
    display: inline-block;
    min-width: 10rem;
    height: 10rem;
    border: 2px solid gainsboro;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin: 1rem;
    cursor: pointer;
}

.task {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid gainsboro;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin: 1rem auto;
    transition: background-color 0.25s, border-color 0.25s;
}

.taskDate {
    font-size: .75rem;
    color: grey;
}

.btn {
    margin-top: 1rem;
    border: 2px solid gainsboro;
    background-color: inherit;
    border-radius: .5rem;
    padding: .5rem 1rem;
    cursor: pointer;
    font-weight: bolder;
}

.popup {
    position: absolute;
    top: 10%;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 10rem;
    padding: 1rem;
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.25);
    border-radius: .5rem;
    background-color: white;
    transform: translate(-7rem, 0);
    z-index: 3;
}

.popup > input, .popup > h2 {
    margin-bottom: .5rem;
}

.btnDiv {
    display: flex;
    width: 100%;
}

.btnDiv button {
    width: 50%;
    padding: .5rem;
}

.projectTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.25);
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.todoDiv {
    display: flex;
}

.done {
    background-color: lightgreen;
    border-color: mediumseagreen;
}

.red {
    background-color: lightcoral;
    border-color: maroon;
}

#prodjEdit {
    position: absolute;
    right: 2rem;
    top: 6rem;
    background-color: white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-align: center;
    z-index: 3;
}
#prodjEdit > * {
    padding: 1rem .5rem;
    cursor: pointer;
    border-radius: .5rem;
}

#prodjEdit > *:hover {
    background-color: lightblue;
}

.show {
    transform: translate(100%, 0);
}
